.pessoas {
  display: block;
  width: 100%;
  background: none;
}

*{
  padding: 0;
  margin: 0;
}

div {
  font-family: 'Oswald';
}

.box > h1{
  color: #ffffff;
  text-shadow: #e3e3e3;
  height: 1;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2xvh;
  background: #fbfbfd;
  height: 750px;
}

.box {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 600px;
  background: linear-gradient(
      rgba(221, 86, 145, 0.6),
      rgba(172, 84, 178, 0.6),
      rgba(136, 82, 203, 0.6)
    ),
    url(https://qodeless.io/wp-content/uploads/2021/09/Untitled.jpg) no-repeat center;
  border-radius: 50px;
  padding: 50px 100px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.qodeless {
  width: 200px;
}

.google {
  width: 30px;
  height: 30px;
  background: none;
}

.login {
  width: 120px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  border: 2px solid #e3e3e3;
}

.form > input {
  font-size: 14px;
  text-align: center;
  color: #494747;
  margin-bottom: 3%;
  width: 400px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  border: 2px solid #e3e3e3;
  font-family: 'Roboto';
  font-weight: 200;
}

button{
  font-family: 'Roboto';
  font-weight: 1000000;
}

.form > p {
  color: #FFF;
}

.form > button {
  font-size: 24px;
  text-align: center;
  color: #fff;
  margin-bottom: 4%;
  width: 400px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  border: none;
  background: #17ceff;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.bottom > p {
  padding-left: 100px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 14px;
  color: #e3e3e3;
}

.bottom > p > button {
  background: none;
  border: none;
  color: #17ceff;
}

button:hover {
  filter: brightness(0.8);
  cursor: pointer;
}
.colorBox {
  display: block;
  width: 1200px;
  height: 600px;
  background: linear-gradient(
    90deg,
    rgba(221, 86, 145, 0.5) 0%,
    rgba(172, 84, 178, 0.5) 53%,
    rgba(136, 82, 203, 0.5) 100%
  );
}

@media(max-width:568px){
  .bottom{
    width: fit-content;
  }
}

input:focus{
  outline: none;
  border-radius: 9999px;
  border: 2px solid #17ceff;
}
