.pessoas {
  display: block;
  width: 100%;
  background: none;
}

*{
  padding: 0;
  margin: 0;
}

div {
  font-family: 'Oswald';
}

.box > h1{
  color: #ffffff;
  text-shadow: #e3e3e3;
  height: 1;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fbfbfd;
  height: 100vh;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 70%;
  background: linear-gradient(
      rgba(221, 86, 145, 0.6),
      rgba(172, 84, 178, 0.6),
      rgba(136, 82, 203, 0.6)
    ),
    url(https://qodeless.io/wp-content/uploads/2021/09/Untitled.jpg) no-repeat center;
  border-radius: 50px;
  padding: 1% 2%;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.qodeless {
  width: 200px;
}

.google {
  width: 70%;
  height: 70%;
  background: none;
}

.login {
  width: 30%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  border: 2px solid #e3e3e3;
}

.form > input {
  font-size: 17px;
  text-align: center;
  color: #494747;
  margin-bottom: 3%;
  width: 300%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  border: 2px solid #e3e3e3;
  font-family: 'Roboto';
  font-weight: 200;
}

button{
  font-family: 'Roboto';
  font-weight: 1000000;
}

.form > p {
  color: #FFF;
}

.form > button {
  font-size: 25px;
  text-align: center;
  color: #fff;
  margin-bottom: 4%;
  width: 300%;
  height: 5vh;
  display: flex;
  margin: 15%;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  border: none;
  background: #17ceff;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-bottom: 10%;
}

.bottom > p {
  text-align: center;
  font-size: 25px;
  color: #e3e3e3;
}

.bottom > p > button {
  background: none;
  border: none;
  color: #17ceff;
}

button:hover {
  filter: brightness(0.8);
  cursor: pointer;
}
.colorBox {
  display: block;
  width: 70%;
  height: 40%;
  background: linear-gradient(
    90deg,
    rgba(221, 86, 145, 0.5) 0%,
    rgba(172, 84, 178, 0.5) 53%,
    rgba(136, 82, 203, 0.5) 100%
  );
}

@media(max-width:800px){
  .form > input{
    width: 180%;
  }
  .form > button{
    width: 180%;
  }
  
}

@media(min-height:1200px) {
  .box{
    height: 20%;
  }
}

@media(min-height:200px) {
  .box{
    height: 38%;
  }
}

input:focus{
  outline: none;
  border-radius: 9999px;
  border: 2px solid #17ceff;
}
