.all {
  z-index: 100;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.924);
}

.closeBox {
  align-self: flex-start;
  justify-self: flex-start;
  padding-top: 2%;
  padding-right: 90%;
}

.close {
  border: none;
  background: none;
  width: 100%;
  height: 100%;
  font-family: "Roboto";
}

.close > img {
  width: 10%;
  fill: #fff;
}

.box {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 55%;
  height: 75%;
  background: linear-gradient(
    rgba(221, 86, 145, 0.7),
    rgba(172, 84, 178, 0.7),
    rgba(136, 82, 203, 0.7)
  );
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input {
  font-size: 14px;
  text-align: center;
  color: #494747;
  margin-bottom: 3%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  border: 2px solid #e3e3e3;
  font-family: "Roboto";
  font-weight: 200;
}

.import {
  color: #fff;
  border: none;
  align-self: flex-start;
  padding: 10%;
}

.form > input {
  font-size: 14px;
  text-align: center;
  color: #494747;
  margin-bottom: 3%;
  width: 200%;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  border: 2px solid #e3e3e3;
  font-family: "Roboto";
  font-weight: 200;
}

.form > p {
  color: #fff;
}

.form > button {
  font-size: 24px;
  text-align: center;
  color: #fff;
  margin-bottom: 4%;
  width: 200%;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  border: none;
  background: #17ceff;
}

@media (max-width: 900px) {
  .form > input {
    width: 150%;
  }
  .form > button {
    width: 150%;
  }
  .box {
    height: 75%;
  }
}

@media (max-width: 670px) {
  .form > input {
    width: 100%;
  }
  .form > button {
    width: 100%;
  }
  .box {
    height: 75%;
  }
  .close{
    width: 20%;
  }
}

@media (min-height: 500px) {
  .box {
    font-size: 30px;
    padding: 5%;
    height: 65vh;
  }
  .form > button {
    margin-top: 20%;
    height: 10%;
  }

  .form > input{
    height: 4vh;
  }
  .close > img {
    width: 5vh;
    fill: #fff;
  }
  .form {
    font-size: 30px;
  }
}

